<h2>Create Project</h2>

<form [formGroup]="form" (ngSubmit)="submit()">

  <div>
    <label>Name *</label>
    <input type="text" formControlName="name" />
    @if (form.get('name')?.touched && form.get('name')?.invalid) {
      <div style="color:red;">Name is required (min 2 chars).</div>
    }
  </div>

  <div>
    <label>Description</label>
    <textarea formControlName="description"></textarea>
  </div>

  <div>
    <label>Start Date *</label>
    <input type="date" formControlName="startDate" />
    @if (form.get('startDate')?.touched && form.get('startDate')?.invalid) {
      <div style="color:red;">Start date is required.</div>
    }
  </div>

  <div>
    <label>End Date</label>
    <input type="date" formControlName="endDate" />
  </div>

  <div>
    <label>Project Manager *</label>
    <select formControlName="projectManagerId">
      <option [ngValue]="null">-- select --</option>
      @for (u of users; track u.id) {
        <option [ngValue]="u.id">
          {{ u.firstName }} {{ u.lastName }} ({{ u.role }})
        </option>
      }
    </select>

    @if (form.get('projectManagerId')?.touched && form.get('projectManagerId')?.invalid) {
      <div style="color:red;">Project Manager is required.</div>
    }
  </div>

  <div style="margin-top: 8px;">
    <label>
      <input type="checkbox" formControlName="active" />
      Active
    </label>
  </div>

  <button type="submit" [disabled]="loading">
    {{ loading ? 'Saving...' : 'Create' }}
  </button>

  <a routerLink="/projects" style="margin-left: 12px;">Cancel</a>

  @if (errorMsg) {
    <p style="color:red; margin-top: 12px;">{{ errorMsg }}</p>
  }
</form>
